<h1>Edit project: <%= @project.title %></h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@project) do |f| %>
			<%=f.text_field :title, id: "Title", placeholder: "Title" %>
			<%=f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>